<div class = "container" >
	<footer class = "footer">
	<small>
	Copyright © Printers Corp. Protected by patent 1337420, non-existent. Infringement fines of up to 200,000$ and 10 years in prison.
	</small>
	<nav>
	<ul>
		<li> <%=link_to "About", about_path %> </li>
	</ul>
	</nav>
	</footer>
	</div>